@font-face {
	font-family: icons;
	font-display: swap;
	src: url(../fonts/icons.woff) format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
%ic {
	font-family: icons;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none; 
	list-style: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"],
[class*=" _icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}


//иконочнвый шрифт   gulp allfont

._icon-arrow-left-right:before {
  content: "\e900";
}
._icon-arrow-right:before {
  content: "\e901";
}
._icon-arrow-right2:before {
  content: "\e902";
}
._icon-box:before {
  content: "\e903";
}
._icon-bracket:before {
  content: "\e904";
}
._icon-btn-play:before {
  content: "\e905";
}
._icon-cart:before {
  content: "\e906";
}
._icon-circle-right:before {
  content: "\e907";
}
._icon-cloud:before {
  content: "\e908";
}
._icon-eye:before {
  content: "\e909";
}
._icon-face-cooler:before {
  content: "\e90a";
}
._icon-face-hand:before {
  content: "\e90b";
}
._icon-face-star:before {
  content: "\e90c";
}
._icon-face-vibro:before {
  content: "\e90d";
}
._icon-four-star:before {
  content: "\e90e";
}
._icon-Frame:before {
  content: "\e90f";
}
._icon-haire:before {
  content: "\e910";
}
._icon-heart:before {
  content: "\e911";
}
._icon-house:before {
  content: "\e912";
}
._icon-instagram:before {
  content: "\e913";
}
._icon-lips:before {
  content: "\e914";
}
._icon-littel-heart:before {
  content: "\e915";
}
._icon-minus:before {
  content: "\e916";
}
._icon-play:before {
  content: "\e917";
}
._icon-plus:before {
  content: "\e918";
}
._icon-search:before {
  content: "\e919";
}
._icon-vk:before {
  content: "\e91a";
}
._icon-whatsapp:before {
  content: "\e91b";
} 